<div class="confirm-dialog text-center">
  <div mat-dialog-title>
    <img src="../../../assets/images/key-icon.png" class="img-fluid mb-3">
    <h1>{{data.title}}</h1>
  </div>
  <div mat-dialog-content>
    {{data.message}}
  </div>
  <div mat-dialog-content>
    <div style="background-color: #F8FAFD; padding: 15px; border-radius: 5px; display: flex; justify-content: space-between; align-items: center;">
      <div>
        <b>{{data.content}}</b>
      </div>
      <button matTooltip="Copy Secret Key" mat-icon-button (click)="copySecretKey(data.content)" style="display: inline-block;">
        <i class="fa-regular fa-copy" aria-hidden="false" title="Copy Key" aria-label="content_copy"></i>
      </button>
    </div>

  </div>
    <div mat-dialog-actions>

      <button mat-button cdkFocusInitial mat-dialog-close="ok" class="db-btn-theme">Ok</button>
    </div>
  </div>
