/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5eeee;
}

.cust-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-left: -144px;
}

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

  /* Transparent Overlay */
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --poppins: 'Poppins', sans-serif;
  --lato: 'Lato', sans-serif;
  --light: #F9F9F9;
  --blue: #3C91E6;
  --light-blue: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #342E37;
  --red: #DB504A;
  --yellow: #FFCE26;
  --light-yellow: #FFF2C6;
  --orange: #FD7238;
  --light-orange: #FFE0D3;
}

html {
  overflow-x: hidden;
}

body.dark {
  --light: #0C0C1E;
  --grey: #060714;
  --dark: #FBFBFB;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}





/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 64px;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 1000;
  font-family: var(--lato);
  transition: .3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
  padding: 10px 0px;
}

  #sidebar::--webkit-scrollbar {
    display: none;
  }

  #sidebar.hide {
    width: 60px;
  }





  #sidebar .brand {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--light);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
  }

    #sidebar .brand .bx {
      min-width: 60px;
      display: flex;
      justify-content: center;
    }

  #sidebar .side-menu {
    width: 100%;
    margin-top: 30px;
  }

    #sidebar .side-menu li {
      height: 48px;
      background: transparent;
      margin-left: 6px;
      border-radius: 48px 0 0 48px;
      padding: 4px;
    }

      #sidebar .side-menu li.active {
        background: var(--grey);
        position: relative;
      }

        #sidebar .side-menu li.active::before {
          content: '';
          position: absolute;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          top: -40px;
          right: 0;
          box-shadow: 20px 20px 0 var(--grey);
          z-index: -1;
        }

        #sidebar .side-menu li.active::after {
          content: '';
          position: absolute;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          bottom: -40px;
          right: 0;
          box-shadow: 20px -20px 0 var(--grey);
          z-index: -1;
        }

      #sidebar .side-menu li a {
        width: 100%;
        height: 100%;
        background: var(--light);
        display: flex;
        align-items: center;
        border-radius: 48px;
        font-size: 16px;
        color: var(--dark);
        white-space: nowrap;
        overflow-x: hidden;
      }

    #sidebar .side-menu.top li.active a {
      color: var(--blue);
    }

  #sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width .3s ease;
  }

  #sidebar .side-menu li a.logout {
    color: var(--red);
  }

  #sidebar .side-menu.top li a:hover {
    color: var(--blue);
  }

  #sidebar .side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
  }
/* SIDEBAR */





/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: .3s ease;
}

#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}




/* NAVBAR */
#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

  #content nav::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
  }

  #content nav a {
    color: var(--dark);
  }

  #content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
  }

  #content nav .nav-link {
    font-size: 16px;
    transition: .3s ease;
  }

    #content nav .nav-link:hover {
      color: var(--blue);
    }

  #content nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
  }

    #content nav form .form-input {
      display: flex;
      align-items: center;
      height: 36px;
    }

      #content nav form .form-input input {
        flex-grow: 1;
        padding: 0 16px;
        height: 100%;
        border: none;
        background: var(--grey);
        border-radius: 36px 0 0 36px;
        outline: none;
        width: 100%;
        color: var(--dark);
      }

      #content nav form .form-input button {
        width: 36px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--blue);
        color: var(--light);
        font-size: 18px;
        border: none;
        outline: none;
        border-radius: 0 36px 36px 0;
        cursor: pointer;
      }

  #content nav .notification {
    font-size: 20px;
    position: relative;
  }

    #content nav .notification .num {
      position: absolute;
      top: -6px;
      right: -6px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid var(--light);
      background: var(--red);
      color: var(--light);
      font-weight: 700;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  #content nav .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
  }

  #content nav .switch-mode {
    display: block;
    min-width: 50px;
    height: 25px;
    border-radius: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
  }

    #content nav .switch-mode::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      width: calc(25px - 4px);
      background: var(--blue);
      border-radius: 50%;
      transition: all .3s ease;
    }

  #content nav #switch-mode:checked + .switch-mode::before {
    left: calc(100% - (25px - 4px) - 2px);
  }
/* NAVBAR */


/* MAIN */
#content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  /*overflow-y: auto;*/
}

  #content main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* grid-gap: 16px; */
    flex-wrap: wrap;
  }

    #content main .head-title .left h1 {
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 10px;
      color: var(--dark);
    }

    #content main .head-title .left .breadcrumb {
      display: flex;
      align-items: center;
      grid-gap: 5px;
    }

      #content main .head-title .left .breadcrumb li {
        color: var(--dark);
      }

        #content main .head-title .left .breadcrumb li a {
          color: var(--dark-grey);
          /*pointer-events: none;*/
        }

          #content main .head-title .left .breadcrumb li a.active {
            color: var(--blue);
            pointer-events: unset;
          }

    #content main .head-title .btn-download {
      height: 36px;
      padding: 0 16px;
      border-radius: 36px;
      background: var(--blue);
      color: var(--light);
      display: flex;
      justify-content: center;
      align-items: center;
      grid-gap: 10px;
      font-weight: 500;
    }




  #content main .box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
  }

    #content main .box-info li {
      padding: 24px;
      background: var(--light);
      border-radius: 20px;
      display: flex;
      align-items: center;
      grid-gap: 24px;
    }

      #content main .box-info li .bx {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        font-size: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

    #content main .box-info app-count-display:nth-child(1) .bx {
      background: var(--light-blue);
      color: var(--blue);
    }

    #content main .box-info app-count-display:nth-child(2) .bx {
      background: var(--light-yellow);
      color: var(--yellow);
    }

    #content main .box-info app-count-display:nth-child(3) .bx {
      background: var(--light-orange);
      color: var(--orange);
    }

    #content main .box-info li .text h3 {
      font-size: 24px;
      font-weight: 600;
      color: var(--dark);
    }

    #content main .box-info app-count-display li .text p {
      color: var(--dark);
    }





  #content main .table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
  }

    #content main .table-data > div {
      border-radius: 20px;
      background: var(--light);
      padding: 24px;
      overflow-x: auto;
    }

    #content main .table-data .head {
      display: flex;
      align-items: center;
      grid-gap: 16px;
      margin-bottom: 24px;
    }

      #content main .table-data .head h3 {
        margin-right: auto;
        font-size: 24px;
        font-weight: 600;
      }

      #content main .table-data .head .bx {
        cursor: pointer;
      }

    #content main .table-data .order {
      flex-grow: 1;
      flex-basis: 500px;
    }

      #content main .table-data .order table {
        width: 100%;
        border-collapse: collapse;
      }

        #content main .table-data .order table th {
          padding-bottom: 12px;
          font-size: 13px;
          text-align: left;
          border-bottom: 1px solid var(--grey);
        }

        #content main .table-data .order table td {
          padding: 16px 0;
        }

        #content main .table-data .order table tr td:first-child {
          display: flex;
          align-items: center;
          grid-gap: 12px;
          padding-left: 6px;
        }

        #content main .table-data .order table td img {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          object-fit: cover;
        }

        #content main .table-data .order table tbody tr:hover {
          background: var(--grey);
        }

        #content main .table-data .order table tr td .status {
          font-size: 10px;
          padding: 6px 16px;
          color: var(--light);
          border-radius: 20px;
          font-weight: 700;
        }

          #content main .table-data .order table tr td .status.completed {
            background: var(--blue);
          }

          #content main .table-data .order table tr td .status.process {
            background: var(--yellow);
          }

          #content main .table-data .order table tr td .status.pending {
            background: var(--orange);
          }


    #content main .table-data .todo {
      flex-grow: 1;
      flex-basis: 300px;
    }

      #content main .table-data .todo .todo-list {
        width: 100%;
      }

        #content main .table-data .todo .todo-list li {
          width: 100%;
          margin-bottom: 16px;
          background: var(--grey);
          border-radius: 10px;
          padding: 14px 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

          #content main .table-data .todo .todo-list li .bx {
            cursor: pointer;
          }

          #content main .table-data .todo .todo-list li.completed {
            border-left: 10px solid var(--blue);
          }

          #content main .table-data .todo .todo-list li.not-completed {
            border-left: 10px solid var(--orange);
          }

          #content main .table-data .todo .todo-list li:last-child {
            margin-bottom: 0;
          }
/* MAIN */
/* CONTENT */


.mat-mdc-paginator,
.mdc-data-table__table {
  background: none !important;
}

  .mdc-data-table__table mat-icon {
    float: left !important;
    margin-right: 5px;
  }

.mdc-card-shadow-0 .mat-mdc-card {
  box-shadow: none !important
}
/* .conversation-main-list
{
    max-height:450px;
    overflow:auto;
} */
.task-bg-main {
  background: #d3e6ff !important;
}

.custom-spacer {
  flex: 1 1 auto;
}

.back-btn {
  cursor: pointer;
}

  .back-btn i {
    font-size: 16px;
  }

.invalid {
  border: 1px solid red !important;
  margin-bottom: 0px !important;
}

.invalid-message {
  font-size: 11px;
  margin-left: 15px;
  color: red;
  font-weight: 500;
}

.detail-wrapper {
  margin: 15px 0px;
}

  .detail-wrapper .detail-heading {
    font-weight: 500;
    display: inline;
    margin-right: 5px;
  }

.attachment-detail-heading {
  margin-bottom: 0px !important;
  font-weight: 600;
}

.conversion-message {
  background-color: #e5dddd94;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}

  .conversion-message > p:last-child {
    margin-bottom: 0;
  }

.conversion-chat-card {
  margin-bottom: 7px;
  margin-top: 7px;
  /*background-color: #c7e3ff1f !important;*/
}

  .conversion-chat-card.conversion-chat-card-reply {
    background-color: #b3b3b35c;
  }

.full-width-field {
  width: 100%;
}

.mat-alert {
  background-color: green;
  color: #fff;
}

.conversion-chat-card-admin {
  margin-bottom: 7px;
  margin-top: 7px;
  /*background-color: #d4d0d647 !important;*/
}

.small-font {
  font-size: 9px;
  font-weight: 600;
}

.chat-header .mat-mdc-card-header-text {
  width: 100% !important;
}

.chat-header {
  border-bottom: 1px solid #0000004f;
  padding: 10px 0px !important;
}

mat-card-title .chat-detail {
  font-size: .9rem;
  font-weight: 400;
}

.conversation-chat mat-card-content {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.chat-attachment-detail {
  padding: 10px;
}

mat-card .replay-card-chat {
  padding: 0px !important;
  color: #7391e6;
}

  mat-card .replay-card-chat mat-icon, mat-card .replay-card-chat span {
    color: #7391e6;
  }


#sidebar .brand {
  width: 90%;
  margin: auto;
}

section#content {
  padding: 0px 0px;
}

.ck .ck-powered-by {
  display: none !important;
}

.ck-editor__editable_inline {
  min-height: 180px !important;
}

.ck-height-500 .ck-editor__editable_inline {
  min-height: 250px !important;
}

.ck-Editor-container-cust.Invalid ckeditor.ng-invalid .ck-editor__editable_inline {
  border: 2px solid red !important;
  border-radius: 4px !important;
}

.no-record-found {
  font-size: 20px;
  padding: 10px;
}

.loading-indicator {
  z-index: 5000 !important;
}

.left-280px {
  left: -280px !important;
}

.table-listing-main {
  width: 100%;
  overflow: auto;
}

/*==== Main Navbar CSS Start ====*/
app-navbar {
  position: sticky !important;
  top: 0;
}

.main-nav {
  background: var(--light);
  position: relative;
  z-index: 91;
  display: block;
  padding: 10px 15px;
}

/*==== Main Navbar CSS End ====*/


@media screen and (max-width: 991px) {
  #sidebar {
    width: 240px;
    left: -240px;
  }

    #sidebar.left-280px {
      left: 0 !important;
    }

  #content {
    width: 100%;
    left: 0px;
  }

    #content nav .nav-link {
      display: none;
    }
}

@media screen and (max-width: 786px) {
  .mdc-data-table__header-cell {
    min-width: 130px;
  }

  .mdc-data-table__cell,
  .mdc-data-table__header-cell {
    padding: 0 10px;
  }
}


@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }

  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
  }

  #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }

  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
  }

  #content nav form.show ~ .notification,
  #content nav form.show ~ .profile {
    display: none;
  }

  #content main .box-info {
    grid-template-columns: 1fr;
  }

  #content main .table-data .head {
    min-width: 420px;
  }

  #content main .table-data .order table {
    min-width: 420px;
  }

  #content main .table-data .todo .todo-list {
    min-width: 420px;
  }

  #content main .head-title .left h1 {
    font-size: 24px;
  }
}

@media screen and (min-width: 600px) {
  .display-None-Large-screen {
    /*display: none;*/
  }
}

@media screen and (max-width: 600px) {
  .display-None-Large-screen {
    display: block;
  }

  section#content {
    width: 100%;
    left: 0;
  }
}


.round-count {
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  text-align: center;
  font-weight: 600;
}

.chat-sender {
  background-color: #c44e3269;
  padding: 5px 14px;
  border-radius: 50px 50px 50px 0px;
  margin-bottom: 10px;
  margin-right: 55px;
}

.chat-receiver {
  background-color: #03669a57;
  padding: 5px 14px;
  border-radius: 50px 50px 0px 50px;
  margin-bottom: 10px;
  margin-left: 55px;
}


.chatUnreadCount {
  border-radius: 50%;
  background-color: #5597b9;
  font-weight: 700;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #fff;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.chatUnreadSideMenu {
  border-radius: 50%;
  background-color: #5597b9;
  font-weight: 700;
  position: absolute;
  margin-top: 24px;
  right: 10px;
  transform: translateY(-50%);
  color: #fff;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.NoChatConent {
  text-align: center;
  padding-top: 100px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 0rem;
  overflow: auto;
  font-weight: 600;
  font-size: 0.9rem;
  font-family: -webkit-body;
  background: #0000000a;
}
.dashborad-card {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
}


@media (min-width: 992px) {
  .mobile-nav {
    display: none !important;
  }
}
