.price-tag
{
    padding-top: 25px;
    padding-bottom: 5px;
}
.testimonials .info .desc
{
    line-height: 36px;
}
.package-card .desc
{
    line-height: 26px;
}

.chatbot {
position: fixed;
bottom: 0;
  right: 0;
  margin: 10px 50px;
}

  .chatbot .chatbutton{
      float:right;
  }
  .chatbot mat-header {
    background-color: #0d6efd;
  }

  .chatbot mat-card{
      max-width:350px !important; 
  }
