################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelpDesk_TicketSystem/ClientApp/.angular/cache/16.1.5
/.vs
/bin
/obj
/.vs/HelpDesk_TicketSystem/DesignTimeBuild/.dtbcache.v2
/.vs/HelpDesk_TicketSystem/FileContentIndex/0361800d-d675-493b-a277-9a4bfa40cb0d.vsidx
/.vs/HelpDesk_TicketSystem/FileContentIndex/31663cfc-1162-46fc-a36a-e84d79a8ed2f.vsidx
/.vs/HelpDesk_TicketSystem/FileContentIndex/4faf913b-e309-4b25-b6a7-cc3a962175dd.vsidx
/.vs/HelpDesk_TicketSystem/FileContentIndex/7dd63075-d7a8-4bd8-bb9f-6cb911406720.vsidx
/.vs/HelpDesk_TicketSystem/FileContentIndex/8dc820f9-e13e-4f15-994e-85ae2ee3b291.vsidx
/.vs/HelpDesk_TicketSystem/FileContentIndex/970e718d-a55d-4cc9-a41a-2356b7123e34.vsidx
/.vs/HelpDesk_TicketSystem/v17/.futdcache.v2
/.vs/HelpDesk_TicketSystem/v17/.suo
/.vs/HelpDesk_TicketSystem/v17/fileList.bin
/.vs/ProjectEvaluation/helpdesk_ticketsystem.metadata.v7.bin
/.vs/ProjectEvaluation/helpdesk_ticketsystem.projects.v7.bin
/ApplicationService/bin/Debug/net7.0/ApplicationService.dll
/ApplicationService/bin/Debug/net7.0/ApplicationService.pdb
/ApplicationService/bin/Debug/net7.0/DataRepository.dll
/ApplicationService/bin/Debug/net7.0/DataRepository.pdb
/ApplicationService/bin/Release/net7.0/ApplicationService.dll
/ApplicationService/bin/Release/net7.0/ApplicationService.pdb
/ApplicationService/bin/Release/net7.0/DataRepository.dll
/ApplicationService/bin/Release/net7.0/DataRepository.pdb
/ApplicationService/obj/Debug/net7.0/ref/ApplicationService.dll
/ApplicationService/obj/Debug/net7.0/refint/ApplicationService.dll
/ApplicationService/obj/Debug/net7.0/ApplicationService.csproj.AssemblyReference.cache
/ApplicationService/obj/Debug/net7.0/ApplicationService.csproj.CoreCompileInputs.cache
/ApplicationService/obj/Debug/net7.0/ApplicationService.dll
/ApplicationService/obj/Debug/net7.0/ApplicationService.pdb
/ApplicationService/obj/Release/net7.0/ref/ApplicationService.dll
/ApplicationService/obj/Release/net7.0/refint/ApplicationService.dll
/ApplicationService/obj/Release/net7.0/ApplicationService.csproj.AssemblyReference.cache
/ApplicationService/obj/Release/net7.0/ApplicationService.csproj.CoreCompileInputs.cache
/ApplicationService/obj/Release/net7.0/ApplicationService.dll
/ApplicationService/obj/Release/net7.0/ApplicationService.pdb
/DataRepository/bin/Debug/net7.0/DataRepository.dll
/DataRepository/bin/Debug/net7.0/DataRepository.pdb
/DataRepository/bin/Release/net7.0/DataRepository.dll
/DataRepository/bin/Release/net7.0/DataRepository.pdb
/DataRepository/obj/Debug/net7.0/ref/DataRepository.dll
/DataRepository/obj/Debug/net7.0/refint/DataRepository.dll
/DataRepository/obj/Debug/net7.0/DataRepository.csproj.CoreCompileInputs.cache
/DataRepository/obj/Debug/net7.0/DataRepository.dll
/DataRepository/obj/Debug/net7.0/DataRepository.pdb
/DataRepository/obj/Release/net7.0/ref/DataRepository.dll
/DataRepository/obj/Release/net7.0/DataRepository.csproj.CoreCompileInputs.cache
/DataRepository/obj/Release/net7.0/refint/DataRepository.dll
/DataRepository/obj/Release/net7.0/DataRepository.pdb
/DataRepository/obj/Release/net7.0/DataRepository.dll
/ApplicationService/obj/Debug/net7.0/ApplicationService.assets.cache
/ApplicationService/obj/Debug/net7.0/ApplicationService.GeneratedMSBuildEditorConfig.editorconfig
/ApplicationService/obj/ApplicationService.csproj.nuget.g.props
/ApplicationService/obj/ApplicationService.csproj.nuget.dgspec.json
/ApplicationService/obj/project.assets.json
/ApplicationService/obj/project.nuget.cache
/DataRepository/obj/Debug/net7.0/DataRepository.assets.cache
/DataRepository/obj/Debug/net7.0/DataRepository.csproj.AssemblyReference.cache
/DataRepository/obj/Debug/net7.0/DataRepository.GeneratedMSBuildEditorConfig.editorconfig
/DataRepository/obj/DataRepository.csproj.nuget.g.props
/DataRepository/obj/DataRepository.csproj.nuget.dgspec.json
/DataRepository/obj/project.assets.json
/DataRepository/obj/project.nuget.cache
/ApplicationService/obj/Debug/net7.0/ApplicationService.assets.cache
/ApplicationService/obj/Debug/net7.0/ApplicationService.GeneratedMSBuildEditorConfig.editorconfig
/ApplicationService/obj/ApplicationService.csproj.nuget.dgspec.json
/ApplicationService/obj/project.assets.json
/ApplicationService/obj/ApplicationService.csproj.nuget.g.props
/ApplicationService/obj/project.nuget.cache
/DataRepository/obj/Debug/net7.0/DataRepository.assets.cache
/DataRepository/obj/Debug/net7.0/DataRepository.csproj.AssemblyReference.cache
/DataRepository/obj/Debug/net7.0/DataRepository.GeneratedMSBuildEditorConfig.editorconfig
/DataRepository/obj/DataRepository.csproj.nuget.dgspec.json
/DataRepository/obj/project.assets.json
/DataRepository/obj/DataRepository.csproj.nuget.g.props
/DataRepository/obj/project.nuget.cache
/ApplicationService/obj/Debug/net7.0/ApplicationService.csproj.FileListAbsolute.txt
/DataRepository/obj/Debug/net7.0/DataRepository.genruntimeconfig.cache
/DataRepository/obj/Debug/net7.0/DataRepository.csproj.FileListAbsolute.txt
/HelpDesk_TicketSystem/ClientApp/package-lock.json
*.targets
*.sql
/MigrationScript.sql
/DataRepository/obj
/socket-io-chat
/DataRepository/IRepository/Migrations
/ChatBot/.vscode
/ChatBot/.angular/cache/16.2.0
/ChatBot/dist/chat-bot
/ChatBot/node_modules
/ChatBot/.vscode
/ChatBot/obj/Debug
/ChatBot/.editorconfig
/ChatBot/ChatBot.esproj
/ChatBot/package-lock.json
