<!-- 
<div class="head-title">
  <div class="left">
    <h1>Add Ticket</h1>
    <ul class="breadcrumb">
      <li>
        <a routerLink="/dashboard">Home</a>
      </li>
      <li><i class='bx bx-chevron-right'></i></li>
      <li>
        <a routerLink="/ticket" >Ticket</a>
      </li>
      <li><i class='bx bx-chevron-right'></i></li>
      <li>
        <a class="active"  href="javascript:;">Add Ticket</a>
      </li>
    </ul>
  </div>
  <div>

  </div>
</div> -->
<nb-card>
  <nb-card-header>
    <div class="d-flex justify-content-between align-items-center">
      <h5><b>Add Ticket</b></h5>
      <a nbButton status="primary" routerLink="/ticket">Back</a>
    </div>
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="ticketForm" class="form-field-full" (ngSubmit)="submitTicket()">

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">

            <label for="subject" class="label">Subject <span class="text-red">*</span></label>
            <input type="text" nbInput fullWidth id="subject" placeholder="Subject" formControlName="subject" required>

            <ng-container *ngIf="ticketForm.get('subject')?.invalid && ticketForm.get('subject')?.touched">
              <p class="caption status-danger">
                Subject is required!
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="lastName" class="label">Priority <span class="text-red">*</span></label>
            <nb-select class="formSelect" placeholder="Select Priority" formControlName="priority">
              <nb-option *ngFor="let priority of priorityList" [value]="priority.label">{{ priority.label }}
              </nb-option>
            </nb-select>
            <ng-container *ngIf="ticketForm.get('priority')?.invalid && ticketForm.get('priority')?.touched">
              <p class="caption status-danger">
                Please select priority for ticket
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="department" class="label">Department <span class="text-red">*</span></label>
            <nb-select class="formSelect" placeholder="Select Department" formControlName="department">
              <nb-option *ngFor="let userType of DDDepartmentList" [value]="userType.id">{{ userType.label }}
              </nb-option>
            </nb-select>
            <ng-container *ngIf="ticketForm.get('department')?.invalid && ticketForm.get('department')?.touched">
              <p class="caption status-danger">
                Please select department
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-12">
          <label for="description" class="label">Description <span class="text-red">*</span></label>
          <div
            [class]="(ticketForm.get('description')?.invalid && ticketForm.get('description')?.touched)?'ck-Editor-container-cust Invalid':'ck-Editor-container-cust'">
            <ckeditor nbInput [editor]="Editor" formControlName="description" class="ck-height-500"></ckeditor>

            <ng-container *ngIf="ticketForm.get('description')?.invalid && ticketForm.get('description')?.touched">
              <p class="caption status-danger">
                Please enter description
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-12 my-4">
          <label for="description" class="label" style="display:inline;" class="ms-0 me-3">Attachment</label>
          <input type="file" nbInput placeholder="Please select file" multiple #fileattachment (change)="onFileChange()"
            hidden />
          <button nbButton class="btn btn-md" type="button" (click)="fileattachment.click()">
            <i class="eva eva-attach-2-outline" style="color:#6200ee; font-size: 26px;"></i>
          </button>
          <strong class="mx-3">
            {{fileCount}} attachments
          </strong>
        </div>
      </div>
      <button nbButton class="btn btn-md" status="primary" type="submit" class="m-t-8"
        (submit)="submitTicket">Create</button>
      <button nbButton class="border-btn mx-2" routerLink="/ticket">Cancel</button>
    </form>
  </nb-card-body>
</nb-card>


<loader *ngIf="isLoading"></loader>

