<div class="head-title">
  <div class="left">
    <h1>Settings</h1>
    <ul class="breadcrumb">
      <li>
        <a routerLink="/dashboard">Home</a>
      </li>
      <li><i class='bx bx-chevron-right'></i></li>
      <li>
        <a class="active" href="javascript:;">Settings</a>
      </li>
    </ul>
  </div>
  <div>

  </div>
</div>

<div class="col-sm-12">
  <mat-card>

    <mat-card-content>
      <h2>Time Zone</h2>

      <form [formGroup]="timeZoneForm" class="form-field-full" (ngSubmit)="saveTimeZone()"  >

        <div class="row">
         
        

          <div class="col-sm-6">
          
            <mat-form-field class="full-width-field" appearance="outline">
              <mat-label>Selct Time Zone</mat-label>
              <mat-select required formControlName="timeZone">
                <ng-container *ngFor="let timeZone of allTimeZones">
                  <mat-option value="{{timeZone}}">{{timeZone}}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <button mat-raised-button color="primary" type="submit" class="m-t-8" (submit)="saveTimeZone">Save</button>
        <button mat-raised-button color="warn" class="m-t-8 mx-2" routerLink="/dashboard">Cancel</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>


