<div class="head-title">
  <div class="left">
    <h1>Settings</h1>
    <ul class="breadcrumb">
      <li>
        <a routerLink="/dashboard">Home</a>
      </li>
      <li><i class='bx bx-chevron-right'></i></li>
      <li>
        <a class="active" href="javascript:;">Settings</a>
      </li>
    </ul>
  </div>
  <div>

  </div>
</div>

<div class="col-sm-12">
  <mat-card>

    <mat-card-content>
      
        <div class="row">

        <!--  <div class="col-sm-6">

            <mat-form-field class="full-width-field" appearance="outline">
              <mat-label>Selct Time Zone</mat-label>
              <mat-select required formControlName="timeZone">
                <ng-container *ngFor="let timeZone of allTimeZones">
                  <mat-option value="{{timeZone}}">{{timeZone}}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>-->



          <div class="col-sm-6">
            <h2>Time Zone</h2>
            <form [formGroup]="timeZoneForm" class="form-field-full" (ngSubmit)="saveTimeZone()">
            <mat-form-field class="full-width-field" appearance="outline">
              <mat-label>Time Zone</mat-label>
                  <input type="text" placeholder="Select Time Zone" aria-label="Number" matInput
                        formControlName="timeZone"
                        [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" value="{{option}}">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="timeZoneForm.get('timeZone')?.invalid">
                    Please select TimeZone
                  </mat-error>
                </mat-form-field>
              <button mat-raised-button color="primary" type="submit" class="m-t-8" (submit)="saveTimeZone">Save</button>
              <button mat-raised-button color="warn" class="m-t-8 mx-2" routerLink="/dashboard">Cancel</button>
            </form>
          </div>
          
          <div class="col-sm-6">
            <mat-card-content>
              <h2>Embed Chatbot</h2>
              <button mat-raised-button color="primary" (click)="generateChatbotScript()">Generate Script</button>
              <button mat-icon-button (click)="copyText()" *ngIf="showScript">
                <mat-icon aria-hidden="false" title="Copy Script" aria-label="content_copy" fontIcon="content_copy"></mat-icon>
              </button>
        
              <div *ngIf="showScript" id="textToCopy" style="white-space: pre-line;">
                <pre><code>{{embeddedScriptForChatBot}}</code></pre>
              </div>
            </mat-card-content>
          </div>

        </div>

        

    </mat-card-content>
  </mat-card>
  <!--
  <mat-card>
    <mat-card-content>
      <h2>Embed Chatbot</h2>
      <button mat-raised-button color="primary" (click)="generateChatbotScript()">Generate Script</button>
      <button mat-icon-button (click)="copyText()" *ngIf="showScript">
        <mat-icon aria-hidden="false" title="Copy Script" aria-label="content_copy" fontIcon="content_copy"></mat-icon>
      </button>

      <div *ngIf="showScript" id="textToCopy" style="white-space: pre-line;">
        <pre><code>
  {{embeddedScriptForChatBot}}
</code></pre>


      </div>
    </mat-card-content>
  </mat-card> -->
</div>


