<nb-card>
  <nb-card-header>
    <div class="d-flex justify-content-between align-items-center">
      <h5><b>Settings</b></h5>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">

      <div class="col-sm-6">
        <h6>Time Zone</h6>
        <form [formGroup]="timeZoneForm" class="form-field-full" (ngSubmit)="saveTimeZone()">
          <div class="form-group">
            <label for="firstName" class="label">Time Zone <span class="text-red">*</span></label>
            <nb-select class="formSelect" placeholder="Select Timezone" formControlName="timeZone" required>
              <nb-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </nb-option>
            </nb-select>
            <ng-container *ngIf="timeZoneForm.get('timeZone')?.invalid && timeZoneForm.get('timeZone')?.touched">
              <p class="caption status-danger">
                Please select Timezone!
              </p>
            </ng-container>
          </div>
          <button nbButton status="primary" type="submit" (submit)="saveTimeZone">
            Save
          </button>
          <button nbButton class="border-btn mx-2" routerLink="/dashboard">
            Cancel
          </button>
        </form>
      </div>
      <div class="col-md-6">
        <h6>Company Logo</h6>
        <div class="d-flex align-items-center">
          <form [formGroup]="companyLogoForm" class="form-field-full" style="flex: 1">
            <div class="form-group">
              <label for="companyLogo" class="label">Company Logo</label>
              <input type="file" nbInput fullWidth id="companyLogo" placeholder="companyLogo"
                formControlName="companyLogo" (change)="onFileSelected($event)" (focus)="showLabel()"
                (blur)="hideLabel()" style="padding: 9px 16px;">
              <ng-container *ngIf="!selectedFile && companyLogoForm.get('companyLogo')?.touched">
                <p class="caption status-danger">
                  Please upload logo image!
                </p>
              </ng-container>
            </div>
          </form>
          <div *ngIf="selectedFile" class="ml-3">
            <img [src]="selectedFileSrc" alt="Company Logo" style="max-width: 60px; max-height: 60px;">
          </div>
        </div>
        <button nbButton status="primary" (click)="uploadCompanyLogo()">Upload Logo</button>
      </div>
      <div class="col-sm-6 mt-5">
        <h6>Theme Colors</h6>
        <form [formGroup]="themeColorsForm" class="form-field-full" (ngSubmit)="saveThemeColors()">
        <label class="label mx-2" for="primaryColor">Primary Color</label>
           <input type="color" id="primaryColor" formControlName="primaryColor" >

      <label class="label mx-2" for="secondaryColor">Secondary Color</label>
      <input type="color" id="secondaryColor" formControlName="secondaryColor" >
      <button class="btn btn-md mx-3" type="submit" status="primary" nbButton  (click)="saveThemeColors">Save
      </button>
        </form>
   </div>
      <div class="col-sm-12 mt-5">
        <h6>Embed Chatbot</h6>
        <div class="d-flex">
          <button nbButton status="primary" (click)="generateChatbotScript()">Generate Script</button>
          <button class="btn btn-md" (click)="copyText()" *ngIf="showScript">
            <i class="eva eva-copy-outline" nbTooltip="Copy script" style="color:#6200ee; font-size: 30px;"></i>
          </button>
        </div>

        <div *ngIf="showScript" id="textToCopy" style="white-space: pre-line;">
          <pre><code>{{embeddedScriptForChatBot}}</code></pre>
        </div>
      </div>
 

    </div>


    <div class="row mt-5">
      <div class="d-flex justify-content-between align-items-center w-100 mb-3 mx-3">
        <h6>Register Application</h6>
        <button nbButton status="basic" class="border-btn" routerLink="/settings/registerapplication">Register New
          Application</button>
      </div>
      <div class="col-sm-12">
        <nb-card>
          <nb-card-header>Applications</nb-card-header>
          <nb-card-body>
            <p-table [value]="dataSource" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" dataKey="id"
            styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of displayedColumns">
                  {{ col | titlecase }}
                </th>
              </tr>
  
            </ng-template>
            <ng-template pTemplate="body" let-application>
              <tr>
                <td *ngIf="dataSource.length === 0" colspan="100%">No records found</td>
                <td>{{ application.applicationName }}</td>
                <td >
                  {{application.applicationURL}}
                </td>
                <td >
                  {{application.apiEndpoint}}
                </td>
                <td>
                  <ng-container *ngIf="secretKeyVisible[application.id]; else hiddenKey">
                    <div class="d-flex">
                    <span >
                      {{ application.clientSecretKey }}
                    </span>
                    <div>
                    <button class="btn btn-md p-0 ml-2" nbTooltip="Copy Secret Key"
                            (click)="copySecretKey(application.clientSecretKey)"
                            style="display: inline-block; vertical-align: middle;">
                      <i class="eva eva-copy" style="color:#6200ee; font-size: 20px;"></i>
                    </button>
                    <button class="btn btn-md p-0 ml-2" nbTooltip="HIde Secret Key"
                            (click)="toggleSecretKeyVisibility(application.id)"
                            style="display: inline-block; vertical-align: middle;">
                      <i class="eva eva-eye-off-outline" style="color:#6200ee; font-size: 20px;"></i>
                    </button>
                  </div>
                </div>
                  </ng-container>
                  <ng-template #hiddenKey>
                    <span >
                      ••••••••••
                    </span>
                    <button class="btn btn-md" nbTooltip="View Secret Key"
                            (click)="toggleSecretKeyVisibility(application.id)"
                            style="display: inline-block; vertical-align: middle;">
                      <i class="eva eva-eye-outline" style="color:#6200ee; font-size: 20px;"></i>
                    </button>
                    <!-- <button nbButton type="button" icon="eva eva-eye-outline" title="View Secret Key" (click)="toggleSecretKeyVisibility(application.id)" style="display: inline-block; vertical-align: middle;"></button> -->
                  </ng-template>
                </td>
                <td>{{ application.createdOn | date }} </td>
                <td>
                  <button class="btn btn-md" nbTooltip="Delete Application" (click)="deleteApplication(application)">
                    <i class="pi pi-trash" style="color: red;"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
          </nb-card-body>
        </nb-card>
       
      </div>
    </div>
  </nb-card-body>
</nb-card>

<loader *ngIf="isLoading"></loader>
