
<div class="head-title">
  <div class="left">
    <h1>Chat Box</h1>
    <ul class="breadcrumb">
      <li>
        <a routerLink="/dashboard">Home</a>
      </li>
      <li><i class='bx bx-chevron-right'></i></li>
      <li>
        <a class="active" routerLink="/chat">Chat Box</a>
      </li>

    </ul>
  </div>
  <div>

  </div>
</div>

<div class="mat-elevation-z8 bg-white rounded-3">
  <div class="col-sm-12">
    <mat-card>

      <mat-card-content>

        <div class="messaging">
          <div class="inbox_msg">
            <div class="inbox_people">
              <div class="headind_srch">
                <div class="recent_heading">
                  <h4>Recent</h4>
                </div>

              </div>
              <div class="inbox_chat">
                <div class="chat_list active_chat">
                  <div class="chat_people">
                    <div class="chat_ib">
                      <h5>Sunil Rajput <span class="chat_date">8/7/23, 3:34 PM</span></h5>
                      <p>sunil@gmail.com</p>
                    </div>
                  </div>
                </div>
                <div class="chat_list">
                  <div class="chat_people">
                    <div class="chat_ib">
                      <h5>Vishal Verma <span class="chat_date">8/8/23, 4:34 PM</span></h5>
                      <p>vishal@gmail.com</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mesgs">
              <div class="msg_history">
                <ng-container *ngFor="let chatMessage of chatMessages">
                  <div class="incoming_msg" *ngIf="chatMessage.isIncoming">
                    <div class="received_msg">
                      <div class="received_withd_msg">

                        <p>
                          {{chatMessage.message}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="outgoing_msg" *ngIf="!chatMessage.isIncoming">
                    <div class="sent_msg">
                      <p>
                        {{chatMessage.message}}
                      </p>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="type_msg">
                <div class="input_msg_write">
                  <input type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="messageToSend" (keyup.enter)="SendMessageToUser()"/>
                  <button class="msg_send_btn" type="button" (click)="SendMessageToUser()"><i class="bx bxs-send" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>


