<div class="container cust-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
    <p class="form-title">Login to your account</p>
    <div class="input-container">
      <input formControlName="username" type="text" placeholder="Enter Username" [ngClass]="(username?.invalid && (username?.dirty || username?.touched)) ? 'invalid' : ''">
      <span *ngIf="username?.invalid && (username?.dirty || username?.touched)"  class="invalid-message">User Name is required </span>
      <span>
      </span>
    </div>
    <div class="input-container">
      <input formControlName="password" type="password" placeholder="Enter password" [ngClass]="(password?.invalid && (password?.dirty || password?.touched)) ? 'invalid' : ''">
      <span *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="invalid-message">Password is required </span>
    </div>
    <button type="submit" class="submit">
      Login
    </button>

    <!--<p class="signup-link">
      No account?
      <a href="">Sign up</a>
    </p>-->
  </form>
</div>

<loader *ngIf="isLoading"></loader>
