  <!-- --------------------first-fold starts------------------------- -->
<section class="login signup">
  <div class="container">
    <img src="../../../assets/images/vector-1.svg" class="img-fluid vector-left" alt="vector">
    <div class="bg-card">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="content left-side">
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" autocomplete="off">
              <h1 class="heading">
                Create Account In <strong>
                  Tech<span class="orange">Desk</span>
                </strong>
              </h1>
              <div class="fields">
                <div class="form-group">
                  <label for="exampleInputEmail1">First Name *</label>
                  <input  type="text" class="form-control" id="exampleInputName1" formControlName="firstName"
                         [ngClass]="(firstName?.invalid && (firstName?.dirty || firstName?.touched)) ? 'invalid form-control' : 'form-control'"
                         aria-describedby="nameHelp" placeholder="Enter first name">
                  <span *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="invalid-message">First Name is required </span>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Last Name</label>
                  <input  type="text" class="form-control" id="exampleInputName1" formControlName="lastName"
                         [ngClass]="(lastName?.invalid && (lastName?.dirty || lastName?.touched)) ? 'invalid form-control' : 'form-control'"
                         aria-describedby="nameHelp" placeholder="Enter last name">
                  <span *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="invalid-message">Last Name is required </span>

                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">User Name *</label>
                  <input type="text" class="form-control" id="exampleInputName1" formControlName="username"
                         [ngClass]="(username?.invalid && (username?.dirty || username?.touched)) ? 'invalid form-control' : 'form-control'"
                         aria-describedby="nameHelp" placeholder="Enter last name">
                  <span *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="invalid-message">Username is required </span>

                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email *</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email"
                         [ngClass]="(email?.invalid && (email?.dirty || email?.touched)) ? 'invalid form-control' : 'form-control'"
                         aria-describedby="emailHelp" placeholder="Enter email address">
                  <span *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="invalid-message">Email is Invalid </span>

                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Phone Number</label>
                  <input type="text" class="form-control" id="exampleInputNumber1" formControlName="phoneNumber"
                         [ngClass]="(phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)) ? 'invalid form-control' : 'form-control'"
                         maxlength="10"
                         aria-describedby="contactHelp" placeholder="Enter Contact">
                  <span *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)" class="invalid-message">Invalid phone number</span>

                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Company Name *</label>
                  <input  type="text" class="form-control" id="exampleInputName1" formControlName="companyName"
                         [ngClass]="(companyName?.invalid && (companyName?.dirty || companyName?.touched)) ? 'invalid form-control' : 'form-control'"
                         aria-describedby="nameHelp" placeholder="Enter Company Name">
                  <span *ngIf="companyName?.invalid && (companyName?.dirty || companyName?.touched)" class="invalid-message">Company Name is required </span>

                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password *</label>
                  <div class="input-group">
                    <input formControlName="password"
                           [type]="passwordHide ? 'password' : 'text'"
                           aria-describedby="password-info" placeholder="Enter password" [ngClass]="(password?.invalid && (password?.dirty || password?.touched)) ? 'invalid form-control' : 'form-control'">
                    <div class="input-group-append">
                      <span class="input-group-text" id="password-info" (click)="passwordHide = !passwordHide">
                        <mat-icon aria-hidden="false" aria-label="preview" [fontIcon]="(passwordHide)?'visibility_off':'visibility'" class="text-dark" style="cursor:pointer;"></mat-icon>
                      </span>
                    </div>
                  </div>
                  <span *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="invalid-message">Password should be a minimum of 6 characters long and include at least 1 lowercase letter, 1 uppercase letter, 1 special character, and 1 digit. </span>

                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Confirm Password *</label>
                  <div class="input-group">
                    <input  [type]="passwordHide ? 'password' : 'text'" class="form-control" id="exampleInputName1" formControlName="confirmPassword"
                           [ngClass]="(confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)) ? 'invalid form-control' : 'form-control'"
                           aria-describedby="nameHelp" placeholder="Enter Confirm Password">

                    <div class="input-group-append">
                      <span class="input-group-text" id="password-info" (click)="passwordHide = !passwordHide">
                        <mat-icon aria-hidden="false" aria-label="preview" [fontIcon]="(passwordHide)?'visibility_off':'visibility'" class="text-dark" style="cursor:pointer;"></mat-icon>
                      </span>

                    </div>
                  </div>
                  <span *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="invalid-message">
                    Password and Confirm password does not match
                  </span>
                </div>
              </div>
              <div class="button-btm mb-20">
                <button type="submit" class="btn btn-theme btn-long">SignUp</button>
              </div>
              <p class="btm-line mb-40">
                By signing up, I accept the TechDesk <span class="blue">
                  Terms
                  of
                  Service
                </span> and <span class="blue">Privacy Policy.</span>
              </p>
              <!--<div class="mb-20">
                <a class="btn btn-theme btn-white-long">
                  <i class="fa-brands fa-google me-2"></i> Signin with Google
                </a>
              </div>-->
              <p class="btm-line">
                Already have an account? <a class="blue" routerLink="/user-authenticaton/login">
                  Sign
                  In
                </a>
              </p>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                      class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                      aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                      aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-12">
                    <div class="image right-side">
                      <img src="../../../assets/images/slide1.svg" class="img-fluid" alt="vector">
                      <div class="sub-content">
                        <h2 class="title">Ticket System</h2>
                        <p class="desc">
                          Customer requests from all communication channels
                          fall into the
                          'Requests' section,
                          where all information is at hand.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-12">
                    <div class="image right-side">
                      <img src="../../../assets/images/slide1.svg" class="img-fluid" alt="vector">
                      <div class="sub-content">
                        <h2 class="title">Ticket System</h2>
                        <p class="desc">
                          Customer requests from all communication channels
                          fall into the
                          'Requests' section,
                          where all information is at hand.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-12">
                    <div class="image right-side">
                      <img src="../../../assets/images/slide1.svg" class="img-fluid" alt="vector">
                      <div class="sub-content">
                        <h2 class="title">Ticket System</h2>
                        <p class="desc">
                          Customer requests from all communication channels
                          fall into the
                          'Requests' section,
                          where all information is at hand.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="../../../assets/images/vector-2.svg" class="img-fluid vector-right" alt="vector">
  </div>
</section>
<!-- --------------------first-fold ends--------------------------- -->



<loader *ngIf="isLoading"></loader>
