<div class="head-title">
  <div class="left">
    <h1>Comapny Management</h1>
    <ul class="breadcrumb">
      <li>
        <a routerLink="/dashboard">Home</a>
      </li>
      <li><i class='bx bx-chevron-right'></i></li>
      <li>
         <a class="active" href="javascript:;">company management</a>
      </li>
    </ul>
  </div>
</div>
<!-- compnay-management.component.html -->
<div class="mat-elevation-z8 bg-white rounded-3">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-record-found" [attr.colspan]="displayedColumns.length">
          No records found.
        </td>
      </tr>
      <!-- Company Name Column -->
      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
        <td mat-cell *matCellDef="let company"> {{ company.companyName }} </td>
      </ng-container>

      <!-- Created On Column -->
      <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
        <td mat-cell *matCellDef="let company"> {{ company.createdOn | date }} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let company">
          <mat-icon aria-hidden="false" aria-label="preview" fontIcon="edit" class="text-secondary"  style="cursor:pointer;"></mat-icon>
        </td>
      </ng-container>
      <!-- Add more columns here if needed -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>


