<footer class="footer-main">
  <div class="container">
    <div class="footer-top">
      <div class="row">
        <div class="col-md-5">
          <div class="footer-content footer-logo">
            <a class="logo" href="#">
              <img src="../../assets/images/Logo@1x.png" class="img-fluid" alt="Logo">
            </a>
            <p class="desc">
              Lörem ipsum od ohet dilogi. Bell trabel, samuligt, ohöbel utom diska.
              Jinesade bel när
              feras redorade i belogi. FAR paratyp i muvåning, och pesask vyfisat.
            </p>
            <a class="btn btn-theme">Explore More</a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="footer-content">
            <h2 class="title">Product</h2>
            <ul>
              <li>Pricing</li>
              <li>Features</li>
              <li>Products</li>
              <li>Testimonials</li>
              <li>Free Trial</li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="footer-content">
            <h2 class="title">Company</h2>
            <ul>
              <li>Help Center</li>
              <li>Case Studies</li>
              <li>Terms of Use</li>
              <li>Privacy Policy</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer-content">
            <h1 class="title">Contact</h1>
            <ul>
              <li class="d-flex">
                <i class="fa-solid fa-phone"></i> +91 172 5099507
              </li>
              <li class="d-flex">
                <i class="fa-solid fa-envelope"></i>
                techdesk@gmail.com
              </li>
              <li class="d-flex">
                <i class="fa-sharp fa-solid fa-location-dot"></i>
                1399 Wellington St. W, Ottawa
                Ontario K1Y 2X1, Canada
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="footer-bottom">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h1 class="copyright mb-0">Copyright &copy; 2022, All rights reserved. </h1>
        </div>
        <div class="col-md-6">
          <div class="footer-content">
            <ul class="social-media mb-0 d-flex justify-content-end align-items-center">
              <li class="social-media-items"><i class="fa-brands fa-facebook-f"></i></li>
              <li class="social-media-items"><i class="fa-brands fa-twitter"></i></li>
              <li class="social-media-items"><i class="fa-brands fa-linkedin-in"></i></li>
              <li class="social-media-items"><i class="fa-brands fa-instagram"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
