<nb-card>
  <nb-card-header class="pt-3 pb-3">
    <div class="d-flex justify-content-between align-items-center">
      <h6><b>Ticket</b></h6>
      <div class="d-flex align-items-center tickets-filter">
        <h5 class="title">Filter Tickets by :</h5>
        <div class="form-group mb-0 mr-2">
          <nb-select class="formSelect" placeholder="Select Priority" [(ngModel)]="selectedPriority">
            <nb-option *ngFor="let priority of priorityList" [value]="priority.label" (click)="getTickets()">{{ priority.label }}
            </nb-option>
          </nb-select>
        </div>
        <div class="form-group mb-0 mr-2">
          <nb-select class="formSelect" placeholder="Select Status"  [(ngModel)]="selectedStatus">
            <nb-option *ngFor="let status of statusList" [value]="status.label" (click)="getTickets()">{{ status.label }}
            </nb-option>
          </nb-select>
        </div>
        <div class="form-group mb-0 mr-2">
          <input type="text" nbInput fullWidth id="filterTicket" placeholder="Ticket Number or Subject"  [(ngModel)]="searchQuery" (keydown.enter)="getTickets()" (blur)="getTickets()">
        </div>
      </div>
      <a nbButton status="primary" routerLink="/ticket/addTicket" *ngIf="userType=='NORMALUSER'">Add Ticket</a>

    </div>
  </nb-card-header>
  <nb-card-body>
    <p-table [value]="dataSource" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]"
      styleClass="p-datatable-striped" dataKey="id" [tableStyle]="{'min-width': '50rem'}" class="tickets-listing">
      <ng-template pTemplate="header">
        <tr >
          <th *ngFor="let col of displayedColumns" [pSortableColumn]="col">
            {{ col | titlecase }}
            <p-sortIcon [field]="col"></p-sortIcon>
          </th>
        </tr>

      </ng-template>
      <ng-template pTemplate="body" let-ticket>
        <tr>
          <td *ngIf="dataSource.length === 0" colspan="100%">No records found</td>
          <td>{{ticket.ticketNumber}}</td>
          <td> {{ticket.subject}} </td>
          <td> {{ticket.createdOn | timeZone :currentTimeZone: 'DD-MM-YYYY' }}</td>
          <td>
            <p-tag [value]="ticket.priority" [severity]="getSeverity(ticket.priority)">
              <ng-container *ngIf="getSeverity(ticket.priority) === 'info'">
                <i class="pi pi-check-circle"></i>
              </ng-container>
              <ng-container *ngIf="getSeverity(ticket.priority) === 'warning'">
                <i class="pi pi-exclamation-triangle"></i>
              </ng-container>
              <ng-container *ngIf="getSeverity(ticket.priority) === 'danger'">
                <i class="pi pi-exclamation-circle"></i>
              </ng-container>
              <!-- Add more ng-containers for additional severity levels if needed -->
            </p-tag>
          </td>
          <td>
            <ng-container *ngIf="ticket.status=='OPEN'">
              <button class="status-badge" nbButton matRipple outline status="success"> {{ticket.status}}</button>
            </ng-container>
            <ng-container *ngIf="ticket.status=='CLOSED'">
              <button class="status-badge" nbButton matRipple outline status="danger"> {{ticket.status}}</button>
            </ng-container>
          </td>

          <td>
            <button class="btn btn-md" [routerLink]="['/ticket/viewTicket',ticket.ticketNumber]">
              <i class="eva eva-eye-outline" style="color:#6200ee; font-size: 26px;"></i>
            </button>


          </td>
        </tr>
      </ng-template>
    </p-table>

  </nb-card-body>
</nb-card>

<loader *ngIf="isLoading"></loader>
