
<div class="head-title">
  <div class="left">
    <h1>Ticket</h1>
    <ul class="breadcrumb">
      <li>
        <a routerLink="/dashboard">Home</a>
      </li>
      <li><i class='bx bx-chevron-right'></i></li>
      <li>
        <a  class="active" href="javascript:;">Ticket</a>
      </li>
    </ul>
  </div>
  <div class="mb-3">
    <a mat-raised-button color="primary" routerLink="/ticket/addTicket" *ngIf="userType=='NORMALUSER'">Add Ticket</a>
  </div>
</div>


<div class="mat-elevation-z8 bg-white rounded-3">
<div class="table-listing-main">
  <table mat-table [dataSource]="dataSource" matSort>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell no-record-found" [attr.colspan]="displayedColumns.length" >
        No records found.
      </td>
    </tr>
    <ng-container matColumnDef="ticketNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticket Number </th>
      <td mat-cell *matCellDef="let element"> #{{element.ticketNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef> Subject </th>
      <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>

      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.priority=='HIGH'">
          <mat-icon aria-hidden="false" aria-label="High_priority" fontIcon="report" class="text-danger"></mat-icon>
          <span class="text-danger">  {{element.priority}}</span>
        </ng-container>
        <ng-container *ngIf="element.priority=='MEDIUM'">
          <mat-icon aria-hidden="false" aria-label="High_priority" fontIcon="report_problem" class="text-warning"></mat-icon>
          <span class="text-warning">  {{element.priority}}</span>
        </ng-container>
        <ng-container *ngIf="element.priority=='LOW'">
          <mat-icon aria-hidden="false" aria-label="High_priority" fontIcon="error" class="text-info"></mat-icon>
          <span class="text-info">  {{element.priority}}</span>
        </ng-container>
      </td>

    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.status=='OPEN'">
         <!-- <mat-icon aria-hidden="false" aria-label="High_priority" fontIcon="library_add" class="text-success"></mat-icon>-->
          <span class="text-success">  {{element.status}}</span>
        </ng-container>
        <ng-container *ngIf="element.status=='CLOSED'">
          <!--<mat-icon aria-hidden="false" aria-label="High_priority" fontIcon="remove_circle_outline" class="text-danger"></mat-icon>-->
          <span class="text-danger">  {{element.status}}</span>
        </ng-container>

      </td>
    </ng-container>

    <ng-container matColumnDef="createdOn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
      <td mat-cell *matCellDef="let element"> {{element.createdOn | timeZone :currentTimeZone: 'DD-MM-YYYY' }} </td>
    </ng-container>


    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon aria-hidden="false" aria-label="preview"title="View Ticket" fontIcon="visibility" class="text-secondary" [routerLink]="['/ticket/viewTicket',element.ticketNumber]" style="cursor:pointer;"></mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
  <mat-paginator class="pb-3" [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
<loader *ngIf="isLoading"></loader>



