<!-- <div class="head-title">
  <div class="left">
    <h1>Ticket</h1>
    <ul class="breadcrumb">
      <li>
        <a routerLink="/dashboard">Home</a>
      </li>
      <li><i class='bx bx-chevron-right'></i></li>
      <li>
        <a class="active" href="javascript:;">Ticket</a>
      </li>
    </ul>
  </div>
  <div class="mb-3">
    <a mat-raised-button color="primary" routerLink="/ticket/addTicket" *ngIf="userType=='NORMALUSER'">Add Ticket</a>
  </div>
</div> -->


<div class="row align-items-center mb-3">
  <div class="col-sm-3">
    <h5>Filter Tickets by :</h5>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <!-- <label for="priority" class="label">Priority</label> -->
      <nb-select class="formSelect" placeholder="Select Priority">
        <nb-option *ngFor="let priority of priorityList" [value]="priority.id">{{ priority.label }}
        </nb-option>
      </nb-select>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="form-group">
      <!-- <label for="status" class="label">Status</label> -->
      <nb-select class="formSelect" placeholder="Select Priority">
        <nb-option *ngFor="let status of statusList" [value]="status.id">{{ status.label }}
        </nb-option>
      </nb-select>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <!-- <label class="label">Ticket Number or Subject</label> -->
      <input type="text" nbInput fullWidth id="filterTicket" placeholder="Ticket Number or Subject">
    </div>
  </div>
</div>
<nb-card>
  <nb-card-header>
    <div class="d-flex justify-content-between align-items-center">
      <h5><b>Ticket</b></h5>
      <a nbButton status="primary" routerLink="/ticket/addTicket" *ngIf="userType=='NORMALUSER'">Add Ticket</a>

    </div>
  </nb-card-header>
  <nb-card-body>
    <p-table [value]="dataSource" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]"
      styleClass="p-datatable-striped" dataKey="id" [tableStyle]="{'min-width': '50rem'}" class="tickets-listing">
      <ng-template pTemplate="header">
        <tr *ngIf="displayedColumns.length < 1">
          <td colspan="100%">No records found.</td>
        </tr>
        <tr *ngIf="displayedColumns.length > 0">
          <th *ngFor="let col of displayedColumns" [pSortableColumn]="col">
            {{ col | titlecase }}
            <p-sortIcon [field]="col"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ticket>
        <tr>
          <td>{{ticket.ticketNumber}}</td>
          <td> {{ticket.subject}} </td>
          <td> {{ticket.createdOn | timeZone :currentTimeZone: 'DD-MM-YYYY' }}</td>
          <td>
            <p-tag [value]="ticket.priority" [severity]="getSeverity(ticket.priority)">
              <ng-container *ngIf="getSeverity(ticket.priority) === 'info'">
                <i class="pi pi-check-circle"></i>
              </ng-container>
              <ng-container *ngIf="getSeverity(ticket.priority) === 'warning'">
                <i class="pi pi-exclamation-triangle"></i>
              </ng-container>
              <ng-container *ngIf="getSeverity(ticket.priority) === 'danger'">
                <i class="pi pi-exclamation-circle"></i>
              </ng-container>
              <!-- Add more ng-containers for additional severity levels if needed -->
            </p-tag>
          </td>
          <td>
            <ng-container *ngIf="ticket.status=='OPEN'">
              <button class="status-badge" nbButton matRipple outline status="success"> {{ticket.status}}</button>
            </ng-container>
            <ng-container *ngIf="ticket.status=='CLOSED'">
              <button class="status-badge" nbButton matRipple outline status="danger"> {{ticket.status}}</button>
            </ng-container>
          </td>

          <td>
            <button class="btn btn-md" [routerLink]="['/ticket/viewTicket',ticket.ticketNumber]">
              <i class="eva eva-eye-outline" style="color:#6200ee; font-size: 26px;"></i>
            </button>


          </td>
        </tr>
      </ng-template>
    </p-table>

  </nb-card-body>
  <!-- <div class="mat-elevation-z8 bg-white rounded-3 table-wrapper card-warpper">
  <div class="table-listing-main">
    <table mat-table [dataSource]="dataSource" matSort>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-record-found" [attr.colspan]="displayedColumns.length">
          No records found.
        </td>
      </tr>
      <ng-container matColumnDef="ticketNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticket Number </th>
        <td mat-cell *matCellDef="let element"> #{{element.ticketNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef> Subject </th>
        <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>

        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.priority=='HIGH'">
            <span class="d-flex align-items-center priority-badge high">
              <mat-icon aria-hidden="false" aria-label="High_priority" fontIcon="report"></mat-icon>
              <span> {{element.priority}}</span>
            </span>
          </ng-container>
          <ng-container *ngIf="element.priority=='MEDIUM'">
            <span class="d-flex align-items-center priority-badge medium">
              <mat-icon aria-hidden="false" aria-label="High_priority" fontIcon="report_problem"></mat-icon>
              <span> {{element.priority}}</span>
            </span>
          </ng-container>
          <ng-container *ngIf="element.priority=='LOW'">
            <span class="d-flex align-items-center priority-badge low">
              <mat-icon aria-hidden="false" aria-label="High_priority" fontIcon="error"></mat-icon>
              <span> {{element.priority}}</span>
            </span>
          </ng-container>
        </td>

      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.status=='OPEN'">
            <mat-icon aria-hidden="false" aria-label="High_priority" fontIcon="library_add" class="text-success"></mat-icon>
            <span class="status-badge open"> {{element.status}}</span>
          </ng-container>
          <ng-container *ngIf="element.status=='CLOSED'">
            <mat-icon aria-hidden="false" aria-label="High_priority" fontIcon="remove_circle_outline" class="text-danger"></mat-icon>
            <span class="status-badge"> {{element.status}}</span>
          </ng-container>

        </td>
      </ng-container>

      <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
        <td mat-cell *matCellDef="let element"> {{element.createdOn | timeZone :currentTimeZone: 'DD-MM-YYYY' }} </td>
      </ng-container>


      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon aria-hidden="false" aria-label="preview" title="View Ticket" fontIcon="visibility"
            class="text-secondary" [routerLink]="['/ticket/viewTicket',element.ticketNumber]"
            style="cursor:pointer;"></mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator class="pb-3" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div> -->
</nb-card>

<loader *ngIf="isLoading"></loader>