<div class="head-title">
  <div class="left">
    <h1>Register Application</h1>
    <ul class="breadcrumb">
      <li>
        <a routerLink="/dashboard">Home</a>
      </li>
      <li><i class='bx bx-chevron-right'></i></li>
      <li>
        <a routerLink="/settings">Settings</a>
      </li>
      <li><i class='bx bx-chevron-right'></i></li>

      <li>
        <a class="active" href="javascript:;">Register Application</a>
      </li>
    </ul>
  </div>
  <div>

  </div>
</div>

<div class="card-warpper form-wrapper">
<div class="col-sm-12">
  <mat-card>
    <mat-card-content>
      <h2>Register Application</h2>
      <form [formGroup]="applicationForm" (ngSubmit)="submitApplication()" class="form-field-full">
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width-field" appearance="outline">
              <mat-label>Application Name</mat-label>
              <input type="text" placeholder="Application Name" formControlName="applicationName" aria-label="Application Name" matInput />
              <mat-error *ngIf="applicationForm.get('applicationName')?.invalid">
                Please enter Application Name
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field class="full-width-field" appearance="outline">
              <mat-label>Application URL</mat-label>
              <input type="text" placeholder="Application URL" formControlName="applicationURL" aria-label="Application URL" matInput
                    />

              <mat-icon matSuffix matTooltip="Enter the domain URL of your application from which the Single Sign-On (SSO) requests will be initiated.
                        Example:'https:/yourdomain.com/'">
              <i class="fa fa-exclamation-circle" style="color: black;" aria-hidden="true"></i></mat-icon>
              <mat-error *ngIf="applicationForm.get('applicationURL')?.invalid">
                Please enter a valid Application URL
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width-field" appearance="outline">
              <mat-label>API Endpoint</mat-label>
              <input type="text" placeholder="API Endpoint" formControlName="apiEndpoint" aria-label="API Endpoint" matInput
                  />
              <mat-icon matSuffix matTooltip="Provide the API endpoint URL of your application that the Helpdesk system will call to retrieve user details during the SSO process. "><i class="fa fa-exclamation-circle" style="color: black;" aria-hidden="true"></i></mat-icon>
              <mat-error *ngIf="applicationForm.get('apiEndpoint')?.invalid">
                Please enter a valid API Endpoint
              </mat-error>
            </mat-form-field>
            </div>
          </div>
          <div class="row text-end">
            <div class="col-sm-12">
              <button mat-raised-button color="primary" type="submit" class="db-btn-theme">Save</button>
              <button mat-raised-button color="warn" class="db-btn-theme cancel-btn ms-2" routerLink="/settings">Cancel</button>
            </div>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
