<div class="chatbot">
  <div [hidden]="IsChatBot">
  <mat-card>
    <mat-card-header class="bg-primary">
      <h4>Welcome To HelpDesk</h4>
    </mat-card-header>
    <mat-card-content>
      Welcome to Helpdesk Chat. Please hold on, we are attending to you soon.

      {{chatMessages}}
      <div *ngFor="let chatMessage of chatMessages">

        <div class="chat-sender" *ngIf="chatMessage.isIncoming">
          {{chatMessage.message}}
        </div>
        <div class="chat-receiver" *ngIf="!chatMessage.isIncoming">
          {{chatMessage.message}}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
    </div>
  <button class=" btn btn-primary chatbutton" (click)="ChatBotToggle()">
    Chat with Us  <i class="bx bxs-chat  mx-1" aria-hidden="true"></i>
  </button>
</div>
