<div class="chatbot" >
  <ng-container *ngIf="IsChatBot">
    <mat-card>
      <mat-card-header>
        <h4>Welcome To HelpDesk</h4>
      </mat-card-header>
      <mat-card-content  *ngIf="IsUserDataSubmited">
        <p class="p-1">
          Welcome to Helpdesk Chat. Please hold on, we are attending to you soon.
        </p>
        <div *ngFor="let chatMessage of chatMessages">

          <div class="chat-sender" *ngIf="chatMessage.isIncoming">
            {{chatMessage.message}}
          </div>
          <div class="chat-receiver" *ngIf="!chatMessage.isIncoming">
            {{chatMessage.message}}
          </div>
        </div>
        <div class="d-flex align-items-center send-message-input">
          <input type="text" class="form-control" id="username" [(ngModel)]="messageToSend" (keyup.enter)="sendMessageToAdmin()">
          <a href="javascript:;" (click)="sendMessageToAdmin()"> <i class="bx bxs-send mx-1 size-20 text-primary"  aria-hidden="true"></i></a>
        </div>
      </mat-card-content>
      <mat-card-content *ngIf="!IsUserDataSubmited">

        <p class="p-2">Please fill in details to start the chat</p>
        <form [formGroup]="chatForm" (ngSubmit)="submitchatForm()" autocomplete="off">

          <div class="row">
            <div class="col-sm-12">
              <mat-form-field class="full-width-field" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Enter Name" formControlName="name"
                       required>

                <mat-error>
                  Please enter  name
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-12">
              <mat-form-field class="full-width-field" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter Email" formControlName="email"
                       required>
                <mat-error>
                  Please enter Email
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-12">
              <mat-form-field class="full-width-field" appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Enter Phonenumber" required formControlName="phoneNumber"
                       maxlength="10">
                <mat-error>
                  Please enter  Phonenumber
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-12" >
              <mat-form-field class="full-width-field" appearance="outline">
                <mat-label>Department</mat-label>
                <mat-select required formControlName="department">
                  <ng-container *ngFor="let userType of DDDepartmentList">
                    <mat-option [value]="userType.id">{{userType.label}}</mat-option>
                  </ng-container>
                </mat-select>
                <mat-error>
                  Please select department
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-12">
              <button class="btn btn-primary w-100" type="submit"> Start chat</button>
            </div>
          </div>


        </form>


      </mat-card-content>
      </mat-card>
</ng-container>
  <button class=" btn btn-primary chatbutton" (click)="ChatBotToggle()">
    Chat with Us  <i class="bx bxs-chat  mx-1" aria-hidden="true"></i>
  </button>
</div>
