
<div class="head-title">
  <div class="left">
    <h1>My Profile</h1>
    <ul class="breadcrumb">
      <li>
        <a routerLink="/dashboard">Home</a>
      </li>
      <li><i class='bx bx-chevron-right'></i></li>
      <li>
        <a class="active" routerLink="/userProfile">User Profile</a>
      </li>
     
    </ul>
  </div>
  <div>

  </div>
</div>

<div class="mat-elevation-z8 bg-white rounded-3">
  <div class="col-sm-12">
    <mat-card>

      <mat-card-content>
        <form [formGroup]="userForm" class="form-field-full">

          <div class="row">
            <div class="col-sm-4">
              <mat-form-field class="full-width-field" appearance="outline">
                <mat-label>Username </mat-label>
                <input matInput placeholder="Enter Username" formControlName="username"
                       required>
                <mat-error *ngIf="userForm.get('username')?.invalid">
                  Please enter subject
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-4">
              <mat-form-field class="full-width-field" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Enter Fiest Name" formControlName="firstName"
                       required>
                <mat-error *ngIf="userForm.get('firstName')?.invalid">
                  Please enter first name
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field class="full-width-field" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Enter Last Name" formControlName="lastName">
                <mat-error *ngIf="userForm.get('lastName')?.invalid">
                  Please enter Last name
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-4">
              <mat-form-field class="full-width-field" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter Email" formControlName="email"
                       required>
                <mat-error *ngIf="userForm.get('email')?.invalid">
                  Please enter valid email
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-4">
              <mat-form-field class="full-width-field" appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Enter phoneNumber" formControlName="phoneNumber" maxlength="10">
                <mat-error *ngIf="userForm.get('phoneNumber')?.invalid">
                  Please enter valid Phone Number
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-4">
              <mat-form-field class="full-width-field" appearance="outline">
                <mat-label>User Type</mat-label>
                <mat-select required formControlName="userType" required>

                  <ng-container *ngFor="let userType of DDUserTypeList">
                    <mat-option [value]="userType.id" (click)="onUserTypeChange(userType.label)">{{userType.label}}</mat-option>
                  </ng-container>
                </mat-select>
                <mat-error *ngIf="userForm.get('userType')?.invalid">
                  Please select user type
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-4" *ngIf="isUserTypeAdmin">
              <mat-form-field class="full-width-field" appearance="outline">
                <mat-label>Department</mat-label>
                <mat-select required formControlName="department">
                  <ng-container *ngFor="let userType of DDDepartmentList">
                    <mat-option [value]="userType.id">{{userType.label}}</mat-option>
                  </ng-container>
                </mat-select>
                <mat-error *ngIf="userForm.get('department')?.invalid">
                  Please select department for user
                </mat-error>
              </mat-form-field>
            </div>
            <div [class]="(isUserTypeAdmin)?'align-items-center col-sm-8 d-flex justify-content-end':'align-items-center col-sm-12 d-flex justify-content-end'">
              <button mat-raised-button color="warn" class="m-t-8 mx-2" routerLink="/dashboard">Back</button>
            </div>
          </div>


        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

